@model List<Hospital>

<h4 class="text-2xl font-bold dark:text-white">Esta es la vista de hospitales</h4>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Camas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Hospital hospital in Model)
            {
                <tr>
                    <td>@hospital.Nombre</td>
                    <td>@hospital.Direccion</td>
                    <td>@hospital.Telefono</td>
                    <td>@hospital.Camas</td>
                </tr>
            }
        </tbody>
    </table>
</div>